<nav class="navbar navbar-inverse bg-light sticky-top">
    <div class="container-fluid">
      <div class="navbar-header" style="margin-left: 30px;">
        <a
          class="navbar-brand"
          href="#"
          style="font-weight: bold; margin-right: 20px"
          >Kafe <span style="color: rgb(33, 233, 33)">Sans</span></a
        >
      </div>
  
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            style="border-radius: 10px 0 0 10px"
            placeholder="Search"
          />
          <div class="input-group-btn">
            <button
              type="button"
              style="
                border-radius: 0 10px 10px 0;
                border-color: rgb(213, 211, 211);
              "
              class="btn btn-outline-dark"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
  
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <ul
            class="nav navbar-nav"
            style="display: flex; gap: 20px; align-items: center"
          >
            <li class="nav-item">
              <a class="nav-link" href="#">Reservation</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Delivery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Accounting</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <div class="d-flex align-items-center" style="margin-right: 30px;">
          <div class="Profile d-flex align-items-center">
            <img src="assets/profile.jpg" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 20px;" />
            <div>
              <h5 class="mb-0" style="font-size: 16px; font-weight: bold;">Casey Kaspol</h5>
              <h6 class="text-muted mb-0" style="font-size: 13px;">Cashier</h6>
            </div>
          </div>
        </div>
  
    </div>
  </nav>
  