.custom-width {
    width: 200px;
    height: 20px;
  }

  .container1{
    background-color: rgb(225, 222, 217);
  }
  
  .card {
    border-radius: 10px;
  }
  
  .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  