<div
  class="d-flex flex-row justify-content-between mt-2 mb-2"
  style="padding-left: 20px"
>
  <h6 style="font-weight: bold">Order List</h6>
  <div class="d-flex gap-4">
    <div
      class="border d-flex align-items-center justify-content-center"
      style="width: 20px; height: 20px"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div
      class="border d-flex align-items-center justify-content-center"
      style="width: 20px; height: 20px"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
</div>

<div
  style="
    padding: 10px;
    margin-left: 10px;
  "
>
  <div
    class="d-inline-block p-3 align-items-center rounded border"
    style="width: 260px; margin-right: 15px; "
    *ngFor="let order of orders"
  >
    <div class="d-flex align-items-center">
      <!-- Table Number -->
      <span
        class="badge bg-success d-flex align-items-center justify-content-center"
        style="font-size: 0.8rem; height: 50px; width: 50px"
      >
        {{ order.table }}
      </span>

      <!-- Customer Name and Order Info -->
      <div class="ms-2">
        <div class="d-flex flex-column">
          <strong class="text-dark" style="font-size: 14px">
            {{ order.customer }}
          </strong>
          <div class="d-flex align-items-center" style="margin-top: 1px">
            <small class="text-muted" style="font-size: 12px">
              {{ order.items }}
              <i
                class="fa-solid fa-right-long ms-1"
                style="font-size: 10px; margin-left: 4px"
              ></i>
            </small>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-column" style="margin-left: 10px">
        <div>
          <strong
            style="
              margin-left: 15px;
              background-color: chartreuse;
              padding: 3px;
              border-radius: 5px;
              font-size: 14px;
            "
          >
            <i class="fa-solid fa-check"></i> {{ order.status }}
          </strong>
        </div>

        <div>
          <small style="margin-left: 10px; color: rgb(85, 168, 3); font-size: 12px;">
            {{ order.statusMessage }}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
