<div
  class="d-flex flex-row justify-content-between mt-2 mb-2"
  style="padding-left: 20px"
>
  <h6 style="font-weight: bold">Categories</h6>
  <div class="d-flex gap-4">
    <div
      class="border d-flex align-items-center justify-content-center"
      style="width: 20px; height: 20px"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div
      class="border d-flex align-items-center justify-content-center"
      style="width: 20px; height: 20px"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
</div>

<div class="row" style="overflow-x: auto; white-space: nowrap; padding: 10px; margin-left: 15px;">
    <div
      class="d-flex flex-column align-items-center p-2 rounded border"
      style="width: 100px; height: 100px; margin-right: 10px;"
      *ngFor="let category of categories"
    >
      <!-- Image -->
      <img 
        src="{{ category.imgUrl }}" 
        style="height: 40px; width: 50px;" 
        alt="Food Image"
      />
  
      <!-- Texts -->
      <div class="text-center mt-1">
        <strong class="text-muted" style="font-size: 10px; display: block;">
          {{ category.foodName }}
        </strong>
        <strong class="text-dark" style="font-size: 14px; display: block;">
          {{ category.itemCount }}
        </strong>
      </div>
    </div>
  </div>
  